.red {
    height: 300px;
    background-color: firebrick;
}
h1{
    color: red;
    font-size: small;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    
}

p{
    text-transform: uppercase;
    text-decoration:underline;
}